* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flexbox_header {
  /* width: 100%; */
  background-color: magenta;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}

.flexbox_header > :first-child {
  margin-right: auto;
}

.flexbox_header > div {
  background-color: hotpink;
  margin: 0 10px;
  flex-basis: 140px;
  height: 70px;
}

.flexbox_main {
  display: flex;
  justify-content: center;
}

.flexbox_sidebar {
  width: 300px;
  background-color: mediumspringgreen;
}

.flexbox_blog {
  background-color: green;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 700px;
  flex-grow: 1;
}

.flexbox_blog > div {
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
  background-color: yellow;
}

.flexbox_footer {
  /* width: 100%; */
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: blue;
}

.flexbox_footer > div {
  background-color: skyblue;
  flex-basis: 45%;
  max-width: 600px;
  height: 40px;
  margin: 10px;
}
